[submodule "src/hardware.inc"]
	path = src/hardware.inc
	url = https://github.com/gbdev/hardware.inc.git
[submodule "tools/propack"]
	path = tools/propack
	url = https://github.com/lab313ru/rnc_propack_source.git
[submodule "tools/superfamiconv"]
	path = tools/superfamiconv
	url = https://github.com/optiroc/SuperFamiconv.git
